<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76471554747-v75i70jngr4mpr9cmhf5lbnj412grc2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76471554747-v75i70jngr4mpr9cmhf5lbnj412grc2m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>76471554747-egt363la4reppctajg5qf6o1rb4r881r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZU74bMiz_zWDfPgWAiKvnu9z5P8HNWwA</string>
	<key>GCM_SENDER_ID</key>
	<string>76471554747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urturn.rider</string>
	<key>PROJECT_ID</key>
	<string>drivevalley-fdb7f</string>
	<key>STORAGE_BUCKET</key>
	<string>drivevalley-fdb7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76471554747:ios:2d63ce185a698f7a6d0f9e</string>
</dict>
</plist>